$cl-primary: #10182f;
$cl-lightBlue: #f7f8fc;
$cl-secodary: #4f80f2;
$cl-accent: #3a6cda;
$cl-white: #ffffff;

$ff-roboto:'Roboto', sans-serif;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-20: 1.25rem;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;

$sz-5: 0.313rem;
$sz-20: 1.25rem;
$sz-40: 2.5rem;